div.localLoginWrapper {
  width: 300px !important;
  padding: 30px;
  text-align: left;
}

div.localLoginWrapper div {
  background-color: white;
}

div.localLoginWrapper button {
  margin-top: 15px;
  margin-right: 15px;
}

.loginBtn {
  background-color: #000;
  color: #fff;
}
