{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id", "_active"]
      }
    ]
  },
  "globals": {
    "document": false,
    "data": false,
    "moment": false,
    "window": false,
    "$": false,
    "Chart": false
  }
}
