extends layout

block content
  center
    
    <i class="fab fa-github fa-10x"></i>
    br
    h2.first-page-title GitHub Views
    a(class='btn btn-primary' href='/auth/github') Login With GitHub Account
    br
    br
    p This tool will automatically collect views data for all the repositories you have access to.
    p It will not be shared with anyone unless you give access to.
    hr
    p Login with username and password and you will still be able to view repos that other users share with you in this app
    div.localLoginWrapper
        input.form-control#username(type='text' placeholder="Username")
        input.form-control#password(type='password' placeholder="Password")
        button.btn.btn-outline-secondary#loginBtn Login
        button.btn.btn-outline-secondary#registerBtn Register
