extends layout

block content
  h1= title

  form(method='POST' action='/cats')
    label(for='catName') Cat Name:
    input#catName(type='text', placeholder='Type the cat name', name='catName')

    button(type='submit') Save

  ul
  for item in users
    li= item.name
