extends layout

block content
  center
    //- img(src="/github-icon.png" height=200)
    //- br
    <i class="fab fa-github fa-10x"></i>
    br
    h2.first-page-title GitHub Views
    a(class='btn btn-primary' href='/auth/github') Login With GitHub Account
    br
    br
    p This tool will automatically collect views data for all the repositories you have access to.
    p It will not be shared with anyone unless you give access to.
