.feebackBtn {
  background-color: gray;
  position: fixed;
  letter-spacing: -5px;
  left: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding: 5px;
  padding-bottom: 10px;
  top: 40%;
  font-size: 12px;
  color: white;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}
